<body>
  <div style="display: flex; flex-direction: column">
      <p id="status">No data found</p>
      <div class="chartpie">
          <div
          style="display: none; height: 200px; width: 200px; border-radius: 50%"
          id="my-pie-chart1"
          ></div>
          <div id="task1" style="display: flex;flex-direction:column;">
              <span style="color:black ; font-weight:bolder;" id="text1"></span>
              <span style="color:#f94c0d ;font-weight:bold;" id="meet1"></span>
              <span style="color:#098319; font-weight:bold;" id="work1"></span>
              <span style="color:rgb(212, 255, 0) ;font-weight:bold;" id="break1"></span>
          </div>
      </div>
      <br>
      <div class="chartpie">
          <div
          style="height: 200px; display:none;width: 200px; border-radius: 50%"
          id="my-pie-chart2"
          ></div>
          <div id="task2" style="display: flex;flex-direction:column;">
            <span style="color:black ; font-weight:bolder; "id="text2"></span>
            <span style="color:#f94c0d ;font-weight:bold;" id="meet2"></span>
            <span style="color:#098319; font-weight:bold;" id="work2"></span>
            <span style="color:rgb(212, 255, 0) ;font-weight:bold;" id="break2"></span>
          </div>
      </div>
      <div class="x-axis" style="display: none;">        
          <ul class="legend">
          <li >Meeting</li>
          <li>Work</li>
          <li>Break</li>          
          </ul>      
      </div>
  </div>
<script>

  function showPie(arr) {
    console.log(arr.length);
    let meeting = 0,
      breaks = 0,
      work = 0;
    let meeting1 = 0,
      breaks1 = 0,
      work1 = 0;
    let meeting2 = 0,
      breaks2 = 0,
      work2 = 0;
    var d = new Date(Date.now());
    var dateToday = d.getDate();
    var dayToday = d.getDay();

    // running for loop on array of tasks
    for (var i = arr.length - 1; i >= 0; i--) {
      var taskTime = parseInt(arr[i].time);        
      var category = arr[i].category.toLowerCase();
      var start = arr[i].start;
      var duration = arr[i].end;
      
      taskTime = new Date(taskTime);
      var taskDate = taskTime.getDate();
      var taskDay = taskTime.getDay();
      var dayDiff = dayToday - taskDay;
      var currMonth = d.getMonth();
      var taskMonth = taskTime.getMonth();
      if (
        (currMonth - taskMonth > 1 && currMonth - taskMonth >= 0) ||
        (currMonth == 0 && taskDate < 10) ||
        d.getFullYear() - taskTime.getFullYear() > 1
      ) {
        continue;
      }

      // if taskdate is of previous 7 days store in <catogoy> variable
      if (
        (dateToday - taskDate <= 7 && dateToday - taskDate >= 0) ||
        (dateToday > 0 && dateToday < 7 && taskDate >= 30 - dateToday)
      ) {
        if (category == "break") {
          breaks += parseInt(duration);
        } else if (category == "meeting") {
          meeting += parseInt(duration);
        } else {
          work += parseInt(duration);
        }
      }

      // if task date is today task assign data to <category>1 
      // else if task date is yesterday assign data to <category>2
      if (taskDate == dateToday) {
        if (category == "break") {
          breaks1 += parseInt(duration);
        } else if (category == "meeting") {
          meeting1 += parseInt(duration);
        } else {
          work1 += parseInt(duration);
        }
      } else if (
        taskDate == dateToday - 1 ||
        ((dayDiff == 1 || dayDiff == -6) && dateToday == 1 && taskDate >= 28)
      ) {
        if (category == "break") {
          breaks2 += parseInt(duration);
        } else if (category == "meeting") {
          meeting2 += parseInt(duration);
        } else {
          work2 += parseInt(duration);
        }
      }
    }
    // changing number to degree for represent
    const pie1 = meeting1 + work1 + breaks1;
    const piemeet1 = Math.floor((meeting1 / pie1) * 360);
    const piebre1 = Math.floor((breaks1 / pie1) * 360);
    const piewo1 = Math.floor((work1 / pie1) * 360);

    const pie2 = meeting2 + work2 + breaks2;
    const piemeet2 = Math.floor((meeting2 / pie2) * 360);
    const piebre2 = Math.floor((breaks2 / pie2) * 360);
    const piewo2 = Math.floor((work2 / pie2) * 360);
  
    // filling pie chart1
    if (pie1 > 0) {
      document.getElementById(
        "my-pie-chart1"
      ).style.background = `conic-gradient(red 0deg, red ${piemeet1}deg, yellow ${piemeet1}deg, yellow ${
        piemeet1 + piebre1
      }deg, green ${piemeet1 + piebre1}deg)`;
      
      // displayin pie chart details in %
      document.getElementById(`my-pie-chart1`).style.display = `flex`;
      document.getElementById(`text1`).innerText = `Today`;
      document.getElementById(`meet1`).innerText = `Meeting : ${Math.floor((meeting1/pie1)*100)}%`;
      document.getElementById(`work1`).innerText = `Work : ${Math.floor((work1/pie1)*100)}%`;
      document.getElementById(`break1`).innerText = `Break : ${Math.floor((breaks1/pie1)*100)}%`;
      document.getElementsByClassName(`x-axis`)[0].style.display = "block";
      document.getElementById(`status`).innerText = "";
    }
    else{
      document.getElementById('task1').style.display = "none";
    }
  // filling pie chart2
    if (pie2 > 0) {
      document.getElementById(
        "my-pie-chart2"
      ).style.background = `conic-gradient(red 0deg, red ${piemeet2}deg, yellow ${piemeet2}deg, yellow ${
        piemeet2 + piebre2
      }deg, green ${piemeet2 + piebre2}deg)`;
      
      document.getElementById(`my-pie-chart2`).style.display = `flex`;
      document.getElementById(`text2`).innerText = `Yesterday`;
      document.getElementById(`meet2`).innerText = `Meeting : ${Math.floor((meeting2/pie2)*100)}%`;
        document.getElementById(`work2`).innerText = `Work : ${Math.floor((work2/pie2)*100)}%`;
        document.getElementById(`break2`).innerText = `Break : ${Math.floor((breaks2/pie2)*100)}%`;
        document.getElementsByClassName(`x-axis`)[0].style.display = "block";
        document.getElementById(`status`).innerText = "";
    }
    else{
      document.getElementById('task2').style.display = "none";
    }

  }
    fetch("/employee/activity")
      .then((res) => {
        return res.json();
      })
      .then((data) => {
        showPie(data.response);        
        console.log(data);
      });
  </script>
</body>
