<body>
    <div style="display: flex; flex-direction: column">
        <p id="status">No data found</p>
        <div class="chartpie">
            <div
            style="display: none; height: 200px; width: 200px; border-radius: 50%"
            id="my-pie-chart1"
            ></div>
            <div id="task1" style="display: flex;flex-direction:column;">
                <span style="color:black ; font-weight:bolder;" id="text1"></span>
                <span style="color:#f94c0d ;font-weight:bold;" id="meet1"></span>
                <span style="color:#098319; font-weight:bold;" id="work1"></span>
                <span style="color:rgb(212, 255, 0) ;font-weight:bold;" id="break1"></span>
            </div>
        </div>
        <br>
        <div class="chartpie">
            <div
            style=" display:none;height: 200px; width: 200px; border-radius: 50%"
            id="my-pie-chart2"
            ></div>
            <div id="task2" style="display: flex;flex-direction:column;">
              <span style="color:black ; font-weight:bolder; "id="text2"></span>
              <span style="color:#f94c0d ;font-weight:bold;" id="meet2"></span>
              <span style="color:#098319; font-weight:bold;" id="work2"></span>
              <span style="color:rgb(212, 255, 0) ;font-weight:bold;" id="break2"></span>
            </div>
        </div>
        <br>
        <div class="chartpie">
            <div
            style=" display:none;height: 200px; width: 200px; border-radius: 50%"
            id="my-pie-chart3"
            ></div>
            <div id="task3" style="display: flex;flex-direction:column;">
              <span style="color:black ; font-weight:bolder; "id="text3"></span>
              <span style="color:#f94c0d ;font-weight:bold;" id="meet3"></span>
              <span style="color:#098319; font-weight:bold;" id="work3"></span>
              <span style="color:rgb(212, 255, 0) ;font-weight:bold;" id="break3"></span>
            </div>
        </div>
        <div class="x-axis" style="display: none;">        
            <ul class="legend">
            <li >Meeting</li>
            <li>Work</li>
            <li>Break</li>          
            </ul>      
        </div>
        <%- include('./employeeDetailActivity.ejs') %>
    </div>
  <script>

    function showPie(arr) {
      console.log(arr.length);
      let meeting = 0,
        breaks = 0,
        work = 0;
      let meeting1 = 0,
        breaks1 = 0,
        work1 = 0;
      let meeting2 = 0,
        breaks2 = 0,
        work2 = 0;
      var d = new Date(Date.now());
      var dateToday = d.getDate();
      var dayToday = d.getDay();

      // running for loop on array of tasks
      for (var i = arr.length - 1; i >= 0; i--) {
        var taskTime = parseInt(arr[i].time);  
        var originalTaskTime = taskTime;       
        var category = arr[i].category.toLowerCase();
        var start = arr[i].start;
        var duration = arr[i].end;
        
        taskTime = new Date(taskTime);
        var taskDate = taskTime.getDate();
        var taskDay = taskTime.getDay();
        var dayDiff = dayToday - taskDay;
        var currMonth = d.getMonth();
        var taskMonth = taskTime.getMonth();
         // task is of more than 7 days;
        if (Date.now()-originalTaskTime>604700000) {
          continue;
        }

        // if taskdate is of previous 7 days store in <catogoy> variable        
        if (category == "break") {
          breaks += parseInt(duration);
        } else if (category == "meeting") {
          meeting += parseInt(duration);
        } else {
          work += parseInt(duration);
        }
      

        // if task date is today task assign data to <category>1 
        // else if task date is yesterday assign data to <category>2
        if (taskDate == dateToday) {
          if (category == "break") {
            breaks1 += parseInt(duration);
          } else if (category == "meeting") {
            meeting1 += parseInt(duration);
          } else {
            work1 += parseInt(duration);
          }
        } else if (
          taskDate == dateToday - 1 ||
          ((dayDiff == 1 || dayDiff == -6) && dateToday == 1 && taskDate >= 28)
        ) {
          if (category == "break") {
            breaks2 += parseInt(duration);
          } else if (category == "meeting") {
            meeting2 += parseInt(duration);
          } else {
            work2 += parseInt(duration);
          }
        }
      }
      // changing number to degree for represent
      const createChart = function(meetingD,breaksD,workD,index){
      const pie = meetingD + workD + breaksD;
      const piemeet1 = Math.floor((meetingD / pie) * 360);
      const piebre1 = Math.floor((breaksD / pie) * 360);
      const piewo1 = Math.floor((workD / pie) * 360);

      if (pie > 0) {
        document.getElementById(
          `my-pie-chart${index}`
        ).style.background = `conic-gradient(red 0deg, red ${piemeet1}deg, yellow ${piemeet1}deg, yellow ${
          piemeet1 + piebre1
        }deg, green ${piemeet1 + piebre1}deg)`;
        
        // displayin pie chart details in %
        let day = "TODAY"
        if(index==2)day = "YESTERDAY";
        if(index==3)day = "WEEK"
        document.getElementById(`my-pie-chart${index}`).style.display = `flex`;
        document.getElementById(`text${index}`).innerText = `${day}`;
        document.getElementById(`meet${index}`).innerText = `Meeting : ${Math.floor((meetingD/pie)*100)}%`;
        document.getElementById(`work${index}`).innerText = `Work : ${Math.floor((workD/pie)*100)}%`;
        document.getElementById(`break${index}`).innerText = `Break : ${Math.floor((breaksD/pie)*100)}%`;
        document.getElementsByClassName(`x-axis`)[0].style.display = "block";
        document.getElementById(`status`).innerText = "";
      }
      else{
        document.getElementById(`task${index}`).style.display = "none";
      }
    }
    createChart(meeting1,breaks1,work1,1);
    createChart(meeting2,breaks2,work2,2);
    createChart(meeting,breaks,work,3);


    }    
    const ref = window.location.href.split("/")[5];
    async function get(reference){
        fetch(`/admin/employeeActivity/${reference}`)        
          .then((res) => {
            console.log(res);
            return res.json();
          })
          .then((data) => {
            console.log(data);
            showPie(data.response.activity);        
            // console.log(data);
          });
    }
    get(ref);
  </script>
</body>
