<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white ">
        <a class="navbar-brand" href="#">Track On</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i style="color: #304FFE;" class="fas fa-bars"></i></span>
        </button>        
    </nav>
</div>